// Widescreens
@include mediaXl {
  .projects {
    grid-template-columns: repeat(auto-fill, 437px);
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
}

// Desktops and Laptops
@include mediaLg {
  .projects {
    -ms-grid-columns: (1fr) [3];
    grid-template-columns: repeat(3, 1fr);
  }
}

// Tablets and Small Laptops
@include mediaMd {
  .projects {
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
  }

  main h2 .sm-heading-tag {
    bottom: 0;
    display: block;
  }

  .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  span.download-file {
    position: relative;
    margin-left: -15px;

    &-text {
      right: 0;
    }
  }

  main {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    height: 75vh;
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url("../img/chris-portrait-small.jpg");
      width: 150px;
      height: 150px;
    }
  }

  .about-info {
    grid-template-areas: "bioimage" "bio" "job1" "job2" "job3";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

// Smartphones
@include mediaSm {
  h1.lg-heading {
    margin-top: 10vh;
    font-size: 4rem;
  }

  .icons .download-file {
    margin-left: -15px;
  }

  .download-file a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  main h2 .sm-heading-tag {
    padding-top: 10px;
    display: block;
    font-size: 13px;
  }

  .about-info .bio-image {
    height: 150px;
    width: 150px;
  }

  main#about .job {
    margin-left: -2rem;
    margin-right: -2rem;
  }

  main#work {
    padding: 10px;
  }

  .projects {
    -ms-grid-columns: (minmax(300px, 1fr)) [1];
    grid-template-columns: repeat(1, minmax(300px, 1fr));

    & .project-image,
    & .flip-card-front,
    & .flip-card-back,
    & .flip-card-inner,
    & .flip-card {
      width: 100%;
    }
  }

  main#contact .contact-container .contact-container-primary-text {
    font-size: 20px;
  }
}
