@import "config";
@import "menu";

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  @include background();
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

.sm-heading-tag {
  position: relative;
  padding-left: 20px;
  font-size: 15px;
  bottom: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  .download-file {
    position: relative;

    & a {
      position: relative;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    &-text {
      position: relative;
      font-size: 20px;
      font-weight: 400;
      right: 20px;
    }
  }

  &#home {
    overflow: hidden;

    h1 {
      margin-top: 20vh;
    }
  }
}

// about page
.about-info {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-rows: auto 30px auto;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-area: bio;
    font-size: 1.5;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;

    .job-name {
      font-size: 30px;
      color: $secondary-color;
    }

    .job-title {
      display: grid;
      font-size: 18px;

      & span {
        font-weight: 300;
      }
    }
  }

  .job-1 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: job1;
  }

  .job-2 {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: job2;
  }

  .job-3 {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
    grid-area: job3;
  }
}

// Work/Projects
.sub-title {
  font-size: 16px;
  display: block;
}

.projects {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.7rem;
  -ms-grid-columns: 1fr 0.7rem 1fr 0.7rem 1fr;
  grid-template-columns: repeat(3, 1fr);

  .project-description {
    display: none;
  }

  h3 {
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    padding-bottom: 5px;
  }

  .proj-git-buttons {
    margin-top: 5px;
  }

  .project-card {
    position: relative;
    border: 3px solid #fff;
    padding: 10px;
    width: 100%;
    height: 293px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .project-card-wls {
    background-image: url(../img/projects/world-legal-summit-1280x830.jpg);
    background-size: cover;
  }

  .project-card-go-shorty {
    background-image: url(../img/projects/go-shorty-1280x830.jpg);
    background-size: cover;
  }

  .project-card-cotd {
    background-image: url(../img/projects/catch-of-the-day-1280x830.jpg);
    background-size: cover;
  }

  .project-card-movie-database {
    background-image: url(../img/projects/movie-database-1280x830.jpg);
    background-size: cover;
  }

  .project-card-hookeai-poke {
    background-image: url(../img/projects/hookeai-poke-1280x830.jpg);
    background-size: cover;
  }

  .project-card-chatty-app {
    background-image: url(../img/projects/chatty-app-1280x830.jpg);
    background-size: cover;
  }

  .project-card-tweeter {
    background-image: url(../img/projects/tweeter-1280x830.jpg);
    background-size: cover;
  }

  .project-card .info-slider-button {
    background: $secondary-color;
    padding: 10px;
    border-radius: 10px;
    order: 3;
    cursor: pointer;
    text-align: center;
    box-shadow: 3px 3px 5px $primary-color;
  }

  .project-card .stack-icons {
    background: rgba(68, 68, 68, 0.8);
    padding: 5px 15px;
    order: 1;
    align-self: flex-end;

    /* Tooltip container */
    .tooltip {
      position: relative;
      display: inline-block;
      cursor: help;
    }

    /* Tooltip text */
    .tooltip .tooltiptext {
      visibility: hidden;
      width: 75px;
      top: 100%;
      left: 50%;
      margin-top: 10px;
      margin-left: -37.5px; /* Use half of the width to center the tooltip */
      background-color: white;
      color: black;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;
      font-size: 15px;
      opacity: 0;
      position: absolute;
      z-index: 1;
    }

    @-webkit-keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
      -webkit-animation-name: fadeIn;
      animation-name: fadeIn;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      visibility: visible;
    }

    .tooltip .tooltiptext::after {
      content: " ";
      position: absolute;
      bottom: 100%; /* At the top of the tooltip */
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent white transparent;
    }

    i.fab,
    i.fas,
    .dev-icon {
      font-size: 30px;
      padding: 0 5px;
    }

    i.fab span,
    i.fas span {
      font-weight: 300;
    }
  }

  .project-info-slider {
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    box-shadow: 0 0 9px $primary-color inset;
    background-color: whitesmoke;
    color: $primary-color;
    overflow-y: hidden;
    max-height: 0; /* approximate max height */
    transition: all 1s ease-out;
    z-index: -1;

    p {
      padding: 0 10px;
    }
  }

  .project-info-slider-open {
    max-height: 500px;
    z-index: 1;
    transition: all 2s ease-out;
  }

  // .project-card:after {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   // z-index: -1;
  //   background: rgba(68, 68, 68, 0.9);
  // }

  .card-face-info {
    position: absolute;
    width: 27.25rem;
    height: 18.313rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    color: white;
    width: 27.25rem;
    height: 18.313rem;
    padding: 30px 20px;
    z-index: 2;
    text-align: center;

    h3 {
      font-size: 23px;
      border-bottom: 1px solid white;
      margin-left: 50px;
      margin-right: 50px;
      margin-bottom: 30px;
    }
  }

  /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
  .flip-card {
    background-color: transparent;
    cursor: pointer;
    width: 27.25rem;
    height: 18.313rem;
    -webkit-perspective: 1000px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }

  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: -webkit-transform 0.8s;
    transition: -webkit-transform 0.8s;
    -o-transition: transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  /* Position the front and back side */
  .flip-card-front,
  .flip-card-back {
  }

  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    width: 27.25rem;
    height: 18.313rem;
    background-color: #bbb;
    color: black;
  }

  /* Style the back side */
  .flip-card-back {
  }

  .project-image {
    width: 27.25rem;
    height: 18.313rem;
    border: 3px #fff solid;
  }
  .project-icon {
    font-size: 20px;
    position: absolute;
    z-index: 9;
  }
}

#world-legal-summit {
  background-image: url("../img/projects/world-legal-summit.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: red;
  height: 76%;
  border: 3px #fff solid;
  margin-bottom: 0.3rem;
  z-index: 10;

  &:hover {
    opacity: 0.5;
    border-color: $secondary-color;
    @include easeOut;
  }
}

// Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

// Contact Page
.boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);

      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import "mobile";
