@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background();
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

.sm-heading-tag {
  position: relative;
  padding-left: 20px;
  font-size: 15px;
  bottom: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  // height: 100%;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  .download-file {
    margin-left: 40px;

    &-text {
      font-size: 20px;
      font-weight: 400;
    }
  }

  &#home {
    overflow: hidden;

    h1 {
      margin-top: 20vh;
    }
  }
}

// about page
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;

    .job-name {
      font-size: 30px;
      color: $secondary-color;
    }

    .job-title {
      font-size: 18px;
    }
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }
}

// Work/Projects
.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  .project-description {
    display: none;
  }

  .proj-git-buttons {
    margin-top: 5px;
  }

  /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
  .flip-card {
    background-color: transparent;
    width: 27.25rem;
    height: 18.313rem;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }

  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  /* Position the front and back side */
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 27.25rem;
    height: 18.313rem;
    backface-visibility: hidden;
  }

  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    width: 27.25rem;
    height: 18.313rem;
    background-color: #bbb;
    color: black;
  }

  /* Style the back side */
  .flip-card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
    border: 3px #fff solid;
    width: 27.25rem;
    height: 18.313rem;
    padding: 20px;

    h3 {
      font-size: 23px;
      border-bottom: 1px solid white;
      margin-left: 50px;
      margin-right: 50px;
    }

    /* Tooltip container */
    .tooltip {
      position: relative;
      display: inline-block;
      cursor: help;
    }

    /* Tooltip text */
    .tooltip .tooltiptext {
      visibility: hidden;
      width: 75px;
      top: 100%;
      left: 50%;
      margin-top: 10px;
      margin-left: -37.5px; /* Use half of the width to center the tooltip */
      background-color: white;
      color: black;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;
      font-size: 15px;
      opacity: 0;

      /* Position the tooltip text - see examples below! */
      position: absolute;
      z-index: 1;
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
      animation-name: fadeIn;
      animation-duration: 1s;
      animation-delay: 0.4s;
      animation-fill-mode: forwards;
      visibility: visible;
    }

    .tooltip .tooltiptext::after {
      content: " ";
      position: absolute;
      bottom: 100%; /* At the top of the tooltip */
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent white transparent;
    }

    i.fab,
    i.fas {
      font-size: 35px;
      padding: 10px;
    }

    i.fab span,
    i.fas span {
      font-weight: 300;
    }
  }

  .project-image {
    // width: 100%;
    width: 27.25rem;
    height: 18.313rem;
    border: 3px #fff solid;

    // &:hover {
    //   opacity: 0.5;
    //   border-color: $secondary-color;
    //   @include easeOut;
    // }
  }
  .project-icon {
    font-size: 20px;
    position: absolute;
    z-index: 9;
  }
}

#world-legal-summit {
  background-image: url("../img/projects/world-legal-summit.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: red;
  height: 76%;
  border: 3px #fff solid;
  margin-bottom: 0.3rem;
  z-index: 10;

  &:hover {
    opacity: 0.5;
    border-color: $secondary-color;
    @include easeOut;
  }
}

// Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

// Contact Page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);

      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import "mobile";
